/* ========================================
   PROJECT CARD STYLES
   Estilos do componente ProjectCard
   ======================================== */

.project-card {
  /* Container do card */
}

.project-card__image {
  /* Imagem do projeto */
}

.project-card__content {
  /* Conteúdo do card */
}

.project-card__title {
  /* Título do projeto */
}

.project-card__description {
  /* Descrição do projeto */
}

.project-card__link {
  /* Link do projeto */
}
